{% extends 'layouts/page-layout.html' %}


{% block title %} Homepage {% endblock %}

{% block page %}
<div>

  <h1>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, facilis.
    Illo, commodi? Labore, saepe laborum! Accusantium molestiae corrupti
    reprehenderit ut perferendis quas natus molestias, magnam, aut eveniet
    libero, ea odio.
  </h1>

  <h2> {{name}} </h2>

  Lorem ipsum dolor sit amet.

  Lorem ipsum dolor sit amet consectetur.

  <h3>{{requestCount}}</h3>

  <a href="/users">Show All Users</a>
</div>
{% endblock %}