header {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #333945;
  color: #dae0e2;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

header a {
  text-decoration: none;
  color: inherit;
}
